.jumbotron{
	background-color:  #f4511e; /* Orange */;
	color: #ffffff;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align:middle;
  width: 60px;
  height: 34px;
}

/* Style the tab content */
.tabcontent {
    display: none;
}


